<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joinproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="3D"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordResetActivity" />
        <activity android:name=".CompanyMain"></activity>
        <activity android:name=".CompanyMenu"></activity>
        <activity android:name=".companyIntro"></activity>
        <activity android:name=".companyIntro2"></activity>
        <activity android:name=".companyIntro3"></activity>
        <activity android:name=".companyIntro4"></activity>
        <activity android:name=".companyGallery"></activity>
        <activity android:name=".companyGallery2"></activity>
        <activity android:name=".companyGallery3"></activity>
        <activity android:name=".companyGallery4"></activity>
        <activity android:name=".companyReview"></activity>
        <activity android:name=".companyReview2"></activity>
        <activity android:name=".companyReview3"></activity>
        <activity android:name=".companyReview4"></activity>
        <activity android:name=".plusReview"></activity>
        <activity android:name=".plusReview2"></activity>
        <activity android:name=".plusReview3"></activity>
        <activity android:name=".plusReview4"></activity>
        <activity android:name=".BasicActivity"></activity>
        <activity android:name=".WritePostActivity"></activity>
        <activity android:name=".MessageActivity"></activity>
        <activity android:name=".GalleryDetail"></activity>
        <activity android:name=".ReviewDetail"></activity>
        <activity android:name=".BoardDetail"></activity>
        <activity android:name=".MessageActivity"></activity>


    </application>

</manifest>